
.educationImg {
    object-fit: cover;
    /* transform: scaleX(-1); */
    filter: brightness(30%);
}

.educationSection {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 1rem;
}

.educationSection p:first-child{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    width: 15%;
    white-space: nowrap;
}
    
.educationSection h2{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
}

@media (width <= 1280px) {
    .educationSection {
        flex-direction: column;
        margin-top: 2rem;
    }
  }