.experiencePage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(18, minmax(0, 110px));
    height: auto;
}

.titleBeforeDecorationRight::before {
    content: "";
    height: 4px;
    width: 1.5rem;
    position: relative;
    background-color: var(--primary);
    display: block;
    left: -3rem;
    top: 20px;
}
.titleBeforeDecorationLeft::after {
    content: "";
    height: 4px;
    width: 1.5rem;
    position: relative;
    background-color: var(--primary);
    display: block;
    right: -2rem;
    top: 15px;
    float: right;
}