.mainPage {
    font-size: calc(10px + 2vmin);
    color: #ffffff;
    height: calc(100vh - 5rem);
}
.gridPage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, minmax(0, 1fr));
}
/* .experiencePage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(18, minmax(0, 110px));
    height: auto;
} */

.menu_item {
    padding: 10px;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 14px; 
    font-weight: 600; 
    display: flex;
}

.classicText {
    @apply uppercase text-gray-400 text-xs;
}

.btnWIthBorders {
    @apply h-full tracking-wider;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 300ms linear;

}
.btnWIthBorders:hover { 
    color: var(--primary);
}

.gridVisibileItem {
    width: 1px;
    height: auto;
    background-color: #6565651b;
    grid-row-start: 1;
    grid-row-end: 6;
}

.geologicalData:before {
    content: '';
    width: 15px;
    height: 2px;
    left: 2rem;
    top: 2.6rem;
    /* margin-right: 10px; */
    background-color: var(--primary);
    position: absolute;
    transition: all 700ms linear;
}

.geologicalData :first-child {
    color: transparent;
    transition: all .3s ease-in-out;
    transform: translateY(-2rem);
}

.geologicalData:hover :first-child {
    color: #9CA3AF;
    transform: translateY(10px);
}
.geologicalData :last-child {
    color: #9CA3AF;
    transition: all .3s ease-in-out;
    transform: translateY(-5px);
}

.geologicalData:hover :last-child {
    color: transparent;
    transform: translateY(2rem);
}

.tittle:after {
    content: '';
    width: 4rem;
    height: 2px;
    left: 0;
    bottom: -20px;
    margin-right: 10px;
    background-color: var(--primary);
    position: absolute;
    right: 10px;
    transition: all 700ms linear;
}

.beforeVertical:before {
    content: '';
    width: 4px;
    height: 10rem;
    left: 0;
    top: -20px;
    background-color: var(--primary);
    position: absolute;
    transition: all 700ms linear;
}

.buttonMovingRight:hover {
    transform: translateX(2.5rem);
    transition: all .3s ease-in-out;
}
.buttonMovingRight {
    transition: all .3s ease-in-out;
    transform: translateX(0);
}
/* 
.educationImg {
    object-fit: contain;
    transform: scaleX(-1);
    filter: brightness(30%);
}

.educationSection {
    margin-right: 1rem;
    display: inline-flex;
    width: full;

}
    
.educationSection p:first-child{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    padding-right: 1.2rem;
    width: 12%;
}
    
.educationSection h2{
    padding-right: 2rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
} */
.new-line {
    white-space: pre-line;
  }
/* 
.titleBeforeDecorationRight::before {
    content: "";
    height: 4px;
    width: 1.5rem;
    position: relative;
    background-color: var(--primary);
    display: block;
    left: -3rem;
    top: 20px;
}
.titleBeforeDecorationLeft::after {
    content: "";
    height: 4px;
    width: 1.5rem;
    position: relative;
    background-color: var(--primary);
    display: block;
    right: -2rem;
    top: 15px;
    float: right;
} */

.chart {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
    /* background: #42c3bc conic-gradient( from 0deg at 50% 50%, #42c3bc 0deg 190deg, rgb(235, 235, 235) 190deg 360deg) */
}
.chart::after {
    content: "";
    display: block;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}