.menuBar {
    @apply float-left mr-20 ml-4 flex font-semibold tracking-wide items-center; 
    transition: all 700ms linear;
}
.menuBar:hover {
    color: #c3428f;
}

.menuBar:hover:before {
    background-color: var(--primary);
}
.menuBar:before {
    content: '';
    width: 15px;
    height: 2px;
    background-color: #6a7282;
    position: relative;
    right: 10px;
    transition: all 700ms linear;
}