.stageBox {
    @apply flex flex-col items-start relative w-1/3;
}
.stageBox:not(:last-child) {
    margin-right: 2rem;
}

/* .stageBox:after {
        content: '\f101';
        position: absolute;
        bottom: 2px;
        right: 40px;
        color: #424242;
        font-size: 16px;
} */

.stageBoxTitle {
    @apply p-4 text-xl text-white flex bg-primary w-2/3 -mb-3 ml-6 z-10;
}
.stageBoxTitle:hover {
    transform: translateX(10px);
    transition: all .4s ease-in-out;
}
.stageBoxContent:hover {
    background: rgb(234, 234, 234);
    transition: all .4s ease-in-out;
}
.stageBox:after {
 content: '';
    width: 70%;
    height: 2px;
    right: -0%;
    bottom: -10%;
    /* margin-right: 10px; */
    background-color: #d2d2d2;
    position: absolute;
    transition: all 700ms linear;
}

.stageBoxContent {
    @apply relative bg-lightGray lg:p-12 p-4 flex flex-col h-[100%];
}
.stageBoxContent p {
    line-height: 2rem;
    color: gray;
}

.stageBoxContentNumber {
    @apply font-extrabold text-8xl absolute text-gray-300;
    bottom: -70px;
    left: 20px;
}