.stageBox {
    @apply flex flex-col items-start relative lg:w-1/3 w-full lg:mb-0 mb-20;
}

.stageBox:not(:last-child) {
    margin-right: 2rem;
}

.stageBoxTitle {
    @apply p-4 lg:text-xl text-base text-white flex bg-primary -mb-3 lg:ml-6 w-4/5 z-10;
}
.stageBoxTitle:hover {
    transform: translateX(10px);
    transition: all .4s ease-in-out;
}
.stageBoxContent:hover {
    background: rgb(234, 234, 234);
    transition: all .4s ease-in-out;
}
.stageBox:after {
 content: '';
    width: 70%;
    height: 2px;
    right: -0%;
    bottom: -10%;
    background-color: #d2d2d2;
    position: absolute;
    transition: all 700ms linear;
}

.stageBoxContent {
    @apply relative bg-lightGray lg:p-12 p-4 flex flex-col h-[100%];
}
.stageBoxContent p {
     @apply lg:text-base text-xs leading-normal;
    color: gray;
}

.stageBoxContentNumber {
    @apply font-extrabold text-8xl absolute text-gray-300;
    bottom: -70px;
    left: 20px;
}